body{

background-color: aquamarine;
}
.parede{
    width: 4.7%;
    height: 10px;
    background-color: black;
}
.caminho{

    width: 4.7%;
    height: 10px;
    background-color: brown;
}
.inicio{

    width: 4.7%;
    height: 10px;
    background-color: white;
}
.final{
    
    width: 4.7%;
    height: 10px;
    background-color: blue;

}
.personagem{
    position:absolute;
    border-radius: 50%;
    background-color: green;
    width: 2%;
    height: 5px;    
    margin-top: 0.2%;
    margin-left: 1%;
}
section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.vitoria{
    color: white;
    font-size: 40px;
    margin-left: 33%;
}
.novo{
    width: 100px;
    height: 100px;
    margin-left: 45%;
    margin-top: 20%;
    border-radius: 50%;
    background-color: tomato;
    
}
.reset{
    margin-top: 2%;
    margin-left: 45%;
    border-radius: 30%;
    background-color: black;
    color: blanchedalmond;
}
.ganhou{
    border-radius: 70%;
    margin-top: 3%;
    margin-left: 43.5%;
}